.center {
  text-align:center;
}

.blue-bg {
  background-color: #4285F4;
  border-radius:20px;
  border-width:0px;
}

small {
  color: #000 !important;
}

.celeb {
  width:15em;
  height:25em;
}

.celeb-cards {
  display:none;
}
